<div class="d-flex align-items-center justify-content-between flex-wrap mt-5 mb-4 border-bottom">
  <h2 class="section-title mb-4">{{ getFormTitle() }}</h2>
  <div class="d-flex gap-2 mb-3">
    <a class="btn btn-outline-secondary" routerLink="/gastos">Cancelar</a>
    <button type="button" class="btn btn-primary" (click)="saveExpense()" [disabled]="this.expenseForm.invalid">Guardar gasto</button>
  </div>
</div>

<form class="mb-5" [formGroup]="expenseForm" (ngSubmit)="saveExpense()">
  <div class="mb-3">
    <label for="typeInput" class="form-label">Tipo de gasto</label>
    <input type="text" formControlName="categoria" class="form-control {{ hasError('categoria') ? 'is-invalid' : '' }}" id="categoriaInput" placeholder="Transporte, Comida, Otros">
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('categoria')">
      <span *ngSwitchCase="'required'">El campo tipo es requerido</span>
      <span *ngSwitchCase="'maxlength'">El campo tipo debe contener 100 caracteres como máximo</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="montoInput" class="form-label">Cantidad gastada</label>
    <div class="input-group has-validation">
      <span class="input-group-text">$</span>
      <input type="number" formControlName="monto" class="form-control {{ hasError('monto') ? 'is-invalid' : '' }}" id="montoInput" placeholder="0.00">
      <div class="invalid-feedback" [ngSwitch]="getCurrentError('monto')">
        <span *ngSwitchCase="'required'">El campo cantidad es requerido</span>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="descripcionInput" class="form-label">Descripción</label>
    <textarea formControlName="descripcion" class="form-control {{ hasError('descripcion') ? 'is-invalid' : '' }}" id="descripcionInput" placeholder="Escribe una descripción del gasto realizado"></textarea>
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('descripcion')">
      <span *ngSwitchCase="'required'">El campo descripción es requerido</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="fechaInput" class="form-label">Fecha de gasto</label>
    <input type="date" formControlName="fecha" class="form-control {{ hasError('fecha') ? 'is-invalid' : '' }}" id="fechaInput">
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('fecha')">
      <span *ngSwitchCase="'required'">El campo fecha de gasto es requerido</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid">Guardar gasto</button>
</form>
