<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-md">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <i class="bi bi-bar-chart me-2" style="font-size: 1.5rem;"></i> <!-- Ícono de gráfica de barras -->
      D<span>Balance</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-lg-2" *ngIf="!isAuthPage()">
          <a class="nav-link" routerLinkActive="active" routerLink="/inicio">{{ 'HOME' | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthPage()">
          <a class="nav-link" routerLinkActive="active" routerLink="/ingresos">{{ 'INCOME' | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthPage()">
          <a class="nav-link" routerLinkActive="active" routerLink="/gastos">{{ 'EXPENSES' | translate }}</a>
        </li>

        <!-- Selector de idioma -->
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="'https://flagcdn.com/w40/' + getFlagCode(currentLang) + '.png'" alt="flag" width="20" height="15" />
            {{ currentLang.toUpperCase() }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li *ngFor="let lang of languages">
              <a class="dropdown-item d-flex align-items-center gap-2" (click)="switchLang(lang.code)">
                <img [src]="'https://flagcdn.com/w40/' + getFlagCode(lang.code) + '.png'" alt="{{ lang.label }}" width="20" height="15" />
                {{ lang.label }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Botón de cerrar sesión -->
        <button class="logout-btn ms-auto" *ngIf="!isAuthPage()" (click)="logout()">
          <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h6a2 2 0 012 2v1"></path>
          </svg>
          <span>{{ 'LOGOUT' | translate }}</span>
        </button>
      </ul>
    </div>
  </div>
</nav>
