@import 'variables';

.navbar {
  background-color: $my-dark-color;

  .navbar-brand {
    font-weight: bold;

    span {
      color: $my-secondary-light-color;
    }
  }

  .nav-link {
    position: relative;
    padding-left: 0.5rem;
    color: #8a8a8a; // 游댳 Gris m치s oscuro para los enlaces
    transition: color 0.3s ease-in-out;

    &.active {
      text-shadow: 0 0 6px rgba(52, 152, 219, 0.80);
      color: white; // 游댳 Activo en blanco
    }

    &.active::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -2px;
      transform: translateY(-50%);
      display: inline-block;
      height: 4px;
      width: 4px;
      background-color: $my-primary-color;
      border-radius: 50%;
    }

    &:hover {
      color: $my-primary-color; // 游댳 Azul al pasar el mouse
    }
  }
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: #e0f0ff !important; /* azul suave */
  color: #0d6efd !important; /* azul Bootstrap */
  font-weight: bold;
}

// 游댳 Ajuste para "Cerrar sesi칩n" con margen m치s grande a la derecha
.logout-btn {
  background: none;
  border: none;
  color: white; // 游댠 "Cerrar sesi칩n" siempre en blanco
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
  margin-left: 300px; // 游댳 M치s separaci칩n de los dem치s elementos

  &:hover {
    color: $my-primary-color; // 游댳 Azul al pasar el mouse
  }

  svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}
