<section class="d-flex align-items-center justify-content-center flex-column text-center py-16">
  <h1 class="fw-bold mb-3">{{ 'WELCOME' | translate }} 💰📈</h1>
  <p class="lead">{{ 'DESCRIPTION' | translate }}</p>
  <div class="d-flex gap-3 mt-3">
    <a class="btn btn-primary" routerLink="/gastos/nuevo">{{ 'ADD_EXPENSE' | translate }}</a>
    <a class="btn btn-secondary" routerLink="/ingresos/nuevo">{{ 'ADD_INCOME' | translate }}</a>
  </div>
</section>

<section class="py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold mb-8 text-center">💰 {{ 'FINANCIAL_SUMMARY' | translate }}</h2>
    <div class="grid grid-flow-col auto-cols-max gap-4">
      <!-- Tarjeta de Ingresos -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden p-6">
        <h3 class="text-2xl font-bold mb-4">📈 {{ 'INCOME' | translate }}</h3>
        <div class="d-flex flex-wrap gap-4">
          <div class="table-section flex-1 min-w-[300px]">
            <table class="table-auto w-full border-collapse border border-gray-300 shadow-lg mt-2">
              <thead class="bg-gray-200">
                <tr>
                  <th class="border border-gray-300 px-4 py-2">#</th>
                  <th class="border border-gray-300 px-4 py-2">{{ 'CATEGORY' | translate }}</th>
                  <th class="border border-gray-300 px-4 py-2">{{ 'AMOUNT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="ingresos.length === 0">
                  <td colspan="3" class="border border-gray-300 px-4 py-2 text-center">{{ 'INCOME_WARM' | translate }}</td>
                </tr>
                <tr *ngFor="let ingreso of ingresos">
                  <td class="border border-gray-300 px-4 py-2">{{ ingreso.numero_orden }}</td>
                  <td class="border border-gray-300 px-4 py-2">{{ ingreso.categoria }}</td>
                  <td class="border border-gray-300 px-4 py-2">${{ ingreso.monto }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="charts-section flex-1 min-w-[300px] h-[300px]">
            <div class="mt-6 text-center h-full">
              <canvas baseChart #ingresosChart [data]="ingresosChartData" [options]="chartOptions" [type]="chartType"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Gastos -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden p-6">
        <h3 class="text-2xl font-bold mb-4">📉 {{ 'EXPENSES' | translate }}</h3>
        <div class="d-flex flex-wrap gap-4">
          <div class="table-section flex-1 min-w-[300px]">
            <table class="table-auto w-full border-collapse border border-gray-300 shadow-lg mt-2">
              <thead class="bg-gray-200">
                <tr>
                  <th class="border border-gray-300 px-4 py-2">#</th>
                  <th class="border border-gray-300 px-4 py-2">{{ 'CATEGORY' | translate }}</th>
                  <th class="border border-gray-300 px-4 py-2">{{ 'AMOUNT' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="gastos.length === 0">
                  <td colspan="3" class="border border-gray-300 px-4 py-2 text-center">{{ 'EXPENSE_WARM' | translate }}</td>
                </tr>
                <tr *ngFor="let gasto of gastos">
                  <td class="border border-gray-300 px-4 py-2">{{ gasto.numero_orden }}</td>
                  <td class="border border-gray-300 px-4 py-2">{{ gasto.categoria }}</td>
                  <td class="border border-gray-300 px-4 py-2">${{ gasto.monto }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="charts-section flex-1 min-w-[300px] h-[300px]">
            <div class="mt-6 text-center h-full">
              <canvas baseChart #gastosChart [data]="gastosChartData" [options]="chartOptions" [type]="chartType"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
