<div class="d-flex align-items-center justify-content-between gap-2 flex-wrap mt-5 mb-4">
  <h2 class="section-title">{{ "INCOME_TITLE" | translate }}</h2>

  <div class="d-flex align-items-center flex-wrap gap-3 gap-sm-5">
    <p class="m-0 total-income-text">
      {{ "TOTAL_INCOME" | translate }}:
      <span class="fw-bold ms-1">
        <i class="ri-arrow-up-s-fill text-success"></i> {{ total | currency }}
      </span>
    </p>
    <a class="btn btn-primary" routerLink="/ingresos/nuevo">{{ "ADD_INCOME" | translate }}</a>
  </div>
</div>

<div class="table-responsive mb-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ "CATEGORY" | translate }}</th>
        <th scope="col">{{ "AMOUNT" | translate }}</th>
        <th scope="col">{{ "DESCRIPTION_LABEL" | translate }}</th>
        <th scope="col" width="180">{{ "DATE" | translate }}</th>
        <th scope="col" class="table-head-action"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="ingresos.length; else emptyMessage">
        <tr *ngFor="let ingreso of ingresos">
          <td>{{ ingreso.numero_orden }}</td>
          <td>{{ ingreso.categoria }}</td>
          <td>{{ ingreso.monto | currency }}</td>
          <td>{{ ingreso.descripcion }}</td>
          <td>{{ ingreso.fecha | date:'dd/MM/yyyy' }}</td>
          <td class="table-data-action">
            <div>
              <a [routerLink]="['/ingresos', ingreso.id, 'editar']"><i class="ri-edit-box-line"></i></a>
              <button class="btn btn-link p-0" (click)="deleteIngreso(ingreso.id)">
                <i class="ri-delete-bin-2-line"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #emptyMessage>
        <tr>
          <td colspan="6">{{ "NO_DATA_TO_SHOW" | translate }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
