.card {
  border: none;
}
.form-control {
  border-radius: 8px;
}
button {
  border-radius: 8px;
}

h2 {
  font-weight: bold; /* Negrilla */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.card {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 12px;
}
