.modal-content {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.modal-body {
  padding: 20px;
}

.warning-icon {
  transform-origin: center;
  transform: scale(1.5); // Tamaño inicial grande
  transition: transform 0.5s ease-in-out; // Transición suave
}

.warning-icon.animate {
  transform: scale(1); // Tamaño final más pequeño
}

h3 {
  font-size: 1.5rem; // Título más grande
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 8px 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  padding: 8px 20px;
}

.btn-danger:hover {
  background-color: #b02a37;
  color: white;
}

.modal-footer {
  padding: 10px;
  gap: 20px;
}
